<a href="https://colab.research.google.com/github/f92isat/GU-A1_ML_EAN/blob/main/guia_1_programacion_Reconociendo%20PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Guía 1 · Reconociendo PYTHON

#Luisa Fernanda Tirado Leon
#Daniel Alejandro Rodriguez Diaz
#Luis Fernando Cruz Montaña

# Actividad 1- Funciones y Tipos de Variables

# Análisis Exploratorio de Datos - Base de Datos Census Income

Este informe tiene como objetivo explorar y analizar las variables de la base de datos **Census Income** obtenida del UCI Machine Learning Repository. A continuación, se describirán los tipos de variables presentes en el dataset, y se aplicarán funciones para determinar la cantidad de valores, los valores distintos, y los valores nulos en cada una de las columnas.

## Cargar la base de datos

Primero, cargamos la base de datos  desde un repositorio en línea y mostramos las primeras filas para tener una visión general de los datos.

In [ ]:
import pandas as pd

# Cargar la base de datos Titanic desde un repositorio en línea
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df = pd.read_csv(url)

# Mostrar las primeras filas del DataFrame para conocer la estructura
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

## Determinación de los tipos de variables

En esta sección, identificaremos el tipo de cada variable en el DataFrame para entender la naturaleza de los datos.

In [ ]:
import pandas as pd

# Cargar la base de datos Titanic desde un repositorio en línea
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df = pd.read_csv(url)

# Función para clasificar las variables
def clasificar_tipo_variable(df):
    tipo_variable = {}

    for columna in df.columns:
        unique_values = df[columna].nunique()
        if df[columna].dtype == 'object':
            if unique_values < 10:
                # Variables categóricas (cualitativas)
                if df[columna].nunique() == df[columna].rank(method='first').nunique():
                    tipo_variable[columna] = 'Cualitativa Ordinal'
                else:
                    tipo_variable[columna] = 'Cualitativa Nominal'
            else:
                tipo_variable[columna] = 'Cualitativa Nominal'
        elif df[columna].dtype in ['int64', 'float64']:
            if unique_values < 10:
                tipo_variable[columna] = 'Cuantitativa Discreta'
            else:
                tipo_variable[columna] = 'Cuantitativa Continua'
        else:
            tipo_variable[columna] = 'Otro tipo'

    return tipo_variable

# Clasificar las variables del DataFrame
clasificacion = clasificar_tipo_variable(df)

# Mostrar resultados
print("Clasificación de las variables:")
for var, tipo in clasificacion.items():
    print(f"{var}: {tipo}")

Clasificación de las variables:
39: Cuantitativa Continua
 State-gov: Cualitativa Nominal
 77516: Cuantitativa Continua
 Bachelors: Cualitativa Nominal
 13: Cuantitativa Continua
 Never-married: Cualitativa Nominal
 Adm-clerical: Cualitativa Nominal
 Not-in-family: Cualitativa Nominal
 White: Cualitativa Nominal
 Male: Cualitativa Nominal
 2174: Cuantitativa Continua
 0: Cuantitativa Continua
 40: Cuantitativa Continua
 United-States: Cualitativa Nominal
 <=50K: Cualitativa Nominal

## Análisis de las Variables

A continuación, aplicamos funciones para analizar las variables, enfocándonos en la cantidad de valores, los valores distintos, y los valores nulos en cada columna.

### Cantidad de valores presentes

Este análisis cuenta cuántos valores no nulos están presentes en cada columna del dataset.

In [ ]:
# Cantidad de valores en cada columna
cantidad_valores = df.count()
cantidad_valores

39                32560
 State-gov        32560
 77516            32560
 Bachelors        32560
 13               32560
 Never-married    32560
 Adm-clerical     32560
 Not-in-family    32560
 White            32560
 Male             32560
 2174             32560
 0                32560
 40               32560
 United-States    32560
 <=50K            32560
dtype: int64

### Valores distintos en cada columna

Aquí se cuentan cuántos valores únicos existen en cada columna, lo que nos ayudará a entender la diversidad de datos en cada variable.

In [ ]:
# Valores distintos en cada columna
valores_distintos = df.nunique()
valores_distintos

39                   73
 State-gov            9
 77516            21647
 Bachelors           16
 13                  16
 Never-married        7
 Adm-clerical        15
 Not-in-family        6
 White                5
 Male                 2
 2174               119
 0                   92
 40                  94
 United-States       42
 <=50K                2
dtype: int64

### Valores nulos en cada columna

En esta parte, identificamos cuántos valores nulos existen en cada columna, lo cual es esencial para evaluar la calidad de los datos.

In [ ]:
# Valores nulos en cada columna
valores_nulos = df.isnull().sum()
valores_nulos

39                0
 State-gov        0
 77516            0
 Bachelors        0
 13               0
 Never-married    0
 Adm-clerical     0
 Not-in-family    0
 White            0
 Male             0
 2174             0
 0                0
 40               0
 United-States    0
 <=50K            0
dtype: int64

# **Actividad 2- Programa con IF para limpieza de datos (Titanic)**

In [ ]:
import pandas as pd
# Cargar la base de datos Titanic desde un repositorio en línea
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df1 = pd.read_csv(url)

# Mostrar las primeras filas del DataFrame para conocer la estructura
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

A continuación se procederá a realizar la limpieza de la base de dato teniendo en cuenta que la información que contiene la base es la siguiente:

1. Variables Iniciales:

* Survived: Indica si el pasajero sobrevivió (1) o no (0).
* Pclass: Clase del pasajero (1, 2, 3).
* Name: Nombre del pasajero.
* Sex: Sexo del pasajero.
* Age: Edad del pasajero.
* Siblings/Spouses Aboard: Número de hermanos/esposos a bordo.
* Parents/Children Aboard: Número de padres/hijos a bordo.
* Fare: Tarifa pagada por el pasajero.

2. Limpieza de Datos:para la correspondiente limpieza se realizaran los siguientes pasos:

* Manejo de valores faltantes en las variables.
* Transformaciones necesarias, como convertir las variables categóricas en variables dummy (si aplica).
* Normalización o estandarización de las variables numéricas (si es necesario).
* Eliminar columnas no necesarias para análisis específicos.

In [ ]:
# Valores nulos en cada columna
valores_nulos = df1.isnull().sum()
valores_nulos

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Manejo de valores faltantes
df1['Age'].fillna(df['Age'].median(), inplace=True)
df1.dropna(subset=['Embarked'], inplace=True)

# Mostrar los primeros datos después de la limpieza
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
import pandas as pd

# Cargar la base de datos Titanic desde un repositorio en línea
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df1 = pd.read_csv(url)

# Manejo de valores faltantes en 'Age'
if df1['Age'].isnull().sum() > 0:
    df1['Age'].fillna(df1['Age'].median(), inplace=True)

# Manejo de valores faltantes en 'Embarked'
if df1['Embarked'].isnull().sum() > 0:
    if df1['Embarked'].isnull().sum() > 2:
        df1['Embarked'].fillna('S', inplace=True)
    elif df1['Embarked'].isnull().sum() <= 2:
        df1.dropna(subset=['Embarked'], inplace=True)

# Verificar las columnas existentes en el DataFrame
print("Columnas actuales en el DataFrame:", df1.columns)

# Convertir variables categóricas a dummies solo si las columnas existen
categorical_columns = ['Sex', 'Embarked']
missing_columns = [col for col in categorical_columns if col not in df1.columns]

if missing_columns:
    print(f"Las siguientes columnas faltan en el DataFrame y no pueden convertirse en dummies: {missing_columns}")
else:
    df1 = pd.get_dummies(df1, columns=categorical_columns, drop_first=True)
    print("Variables categóricas convertidas a dummies exitosamente")

# Mostrar los primeros datos después de la transformación
df1.head()

Columnas actuales en el DataFrame: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Variables categóricas convertidas a dummies exitosamente

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,True,False,True